<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actix</title>
  </head>
  <body>
    <h1>Server is working</h1>
    <hr />
    <a href="/">Index page</a>
    <hr />
    <h1>Heroes list</h1>
    <ul>
      {% for hero in heroes %}
      <li>
        <a href="/heroes/{{ hero.id }}"> {{ hero.title }} </a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>

<style>
  h1 {
    font-family: Arial;
  }
</style>
