<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actix</title>
  </head>
  <body>
    <h1>Server is working</h1>
    <hr />
    <a href="/">Index page</a>
    <a href="/heroes">Heroes page</a>
    <hr />
    <h1>#{{ id }}: {{ title }}</h1>
    <div>
      {% for row in body %} {% if row.element == "Paragraph" %}
      <h2>{{ row }}</h2>
      {% else %}
      <p>{{ row }}</p>
      {% endif %} {% endfor %}
    </div>
  </body>
</html>

<style>
  h1 {
    font-family: Arial;
  }
</style>
